@use "sass:meta";
@import 'functions';



// # Front-end Style Guide

// ## Layout

// The designs were created to the following widths:


// font-family: 'DM Serif Display', serif;
// font-family: 'Karla', sans-serif;

$desktop: 700px;

// ## Colors

// ### Neutral
.theme-dark{
--elements: hsl(209, 23%, 22%); //FOR BOTH ELEMENTS AND INPUT
--background: hsl(207, 26%, 17%);
--text: hsl(0, 0%, 100%);
--input:hsl(209, 23%, 22%);
}
.theme-light{
--elements:hsl(0, 0%, 100%);
--background:hsl(0, 0%, 98%);
--text:hsl(200, 15%, 8%);
--input:hsl(0, 0%, 52%);
}

// ## Typography

// ### Body Copy

$detail-size: rem(16);
$home-size: rem(14);

// ### Headings

$weight: (
    'regular':400,
    'bold':700
);