@use "sass:meta";
@import 'functions';



// # Front-end Style Guide

// ## Layout

// The designs were created to the following widths:


// font-family: 'DM Serif Display', serif;
// font-family: 'Karla', sans-serif;

$desktop: 700px;

// ## Colors

// ### Neutral


$darkBlueElem : hsl(209, 23%, 22%); //(Dark Mode Elements)
$darkBlueBG : hsl(207, 26%, 17%); //(Dark Mode Background)
$darkBlueTxt : hsl(200, 15%, 8%); //(Light Mode Text)
$darkGrayInput : hsl(0, 0%, 52%); //(Light Mode Input)
$lightGrayBG : hsl(0, 0%, 98%); //(Light Mode Background)
$white : hsl(0, 0%, 100%); //(Dark Mode Text & Light Mode Elements)

// ## Typography

// ### Body Copy

$defail-size: rem(16);
$home-size: rem(14);

// ### Headings

$weight: (
    'regular':400,
    'bold':700
);